@font-face {
    font-family: Pacifico;
    src: url('../font/Pacifico-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background: url("../images/noise_lines.png");
    font-family: 'Pacifico', Tahoma;
    overflow: hidden;
    color: #fff;
}

.bgoverlay {
    background: rgb(103, 58, 183);
    background: rgba(103, 58, 183, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.container {
    position: relative;
    margin: 120px auto 0 auto;
    width: 320px;
}

.ico {
    display: block;
    width: 320px;
    height: 320px;
}

.open .ico {
    animation: open 6s;
    transform: scale(10);
    user-select: none;
}

.ico .title {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -110px;
    margin-top: -100px;
    z-index: 4;
    font-size: 50px;
    font-family: 'Pacifico', cursive;
    color: #fff;
    cursor: pointer;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
    user-select: none;

}

.open .ico .title {
    opacity: 0;
    transition: all 0.3s ease;
    top: -150px;
}

.ico:before,
.ico:after,
.ico2:before,
.ico2:after {
    position: absolute;
    top: 0;
    left: 0;
}

.ico:before,
.ico:after,
.ico2:before,
.ico2:after {
    display: block;
    font-size: 20em;
    color: #ff4081;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f004";
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ico2:before,
.ico2:after {
    color: #e91e63;
}

.ico:before {
    z-index: 3;
}

.ico:after {
    animation: explode 4s infinite;
}

.ico2:before {
    animation: explodeSmall 3s infinite;
}

.ico2:after {
    animation: explodeSmall 2s infinite;
}

.endtext {
    opacity: 0;
    position: absolute;
    top: -100px;
    width: 100%;
    text-align: center;
}

.open .endtext {
    top: 0;
    opacity: 1;
    animation: show 5s;
}

.endtext .close {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

.endtext h1,
.endtext h2,
.endtext h3 {
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
    text-align: center;
    font-weight: normal;
}

.endtext h1 {
    font-size: 50px;
}

.endtext h2 {
    font-size: 30px;
}

.endtext h3 {
    font-size: 20px;
}

@keyframes explode {
    from {
        transform: scale(1);
        opacity: 1;
    }

    to {
        transform: scale(1.6);
        opacity: 0;
    }
}

@keyframes explodeSmall {
    from {
        transform: scale(1);
        opacity: 1;
    }

    to {
        transform: scale(1.2);
        opacity: 0;
    }
}


@keyframes open {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(10);
    }
}

@keyframes show {
    from {
        opacity: 0;
        top: -100px;
    }

    to {
        opacity: 1;
        top: 0;
    }
}

h1,
h2,
h3 {
    user-select: none;
}


#all {
    text-align: center;
    /*width: 50%;*/
    margin: 0 auto;
    font-weight: bold;
}

.a {
    background: #ff0000;
    border: none;
    /*font-size: 15px;*/
    color: #fff;
    border-radius: 10px;
    padding: 5px 15px 5px 15px;
    margin-right: 8px;
    font-weight: bold;
}

.b {
    background: #00ff00;
    border: none;
    font-size: 15px;
    color: #fff;
    border-radius: 10px;
    padding: 5px 15px 5px 15px;
    margin-left: 8px;
    font-weight: bold;
}

a:link {
    color: #fff;
    text-decoration: none;
}

a:visited {
    color: #fff;
    text-decoration: none;
}

a:hover,
a:active {
    color: #fff;
    text-decoration: none;
}
