/* Xử lý cuộn mượt */

html {
    scroll-behavior: smooth;
}

#navbar {
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    transition: 0.3s;
    z-index: 100;
    padding-left: 25px;
}


/* Style the navbar links */

#navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    box-sizing: border-box;
    transition: 0.3s;
}

#navbar a:hover {
    background-color: #ddd;
    color: black;
}

#navbar a.active {
    font-weight: bold;
}

.hover-white:hover {
    color: white;
}